 h1 {text-align:right;}
 h2 {font-size:40px; text-align:center;}
 .a{text-align:center; font-size:30px;}
 h3{text-align:center; font-size:30px}
 section {font-size:40px; text-align:center;}
 .b{text-align:center; font-size:30px}